.cont {
  background-color: rgb(165, 244, 255);
  width: 80%;
  height: 500px;
  margin-top: 50px;
  padding-top: 50px;
  border-radius: 30px;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs {
  display: flex;
  justify-content: center;
}

.Input {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 20px;
  border: 0;
}

.btn {
  margin-top: 100px;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  color: #fff;
  background-color: rgb(255, 136, 136);
  border: 0;
}

.h1 { 
  font-weight: 300;
  letter-spacing: -0.05cm;
}