.login {
    border-radius: 10px;
    box-shadow: 0 0 5px 5px hsla(0,9%,85%,.25);
    padding-bottom: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__input {
    width: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    padding-left: 5px;
    border: 2px solid #ddd;
    background-color: #fff;
    border: 2px solid #ddd;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin-bottom: 15px;
    padding: 10px 7px;
}

.login__input:hover {
    background-color: #e3d2ff;
} 

.login__input:focus {
    background-color: #e3d2ff;
}

.login__btn {
    width: 418px;
    height: 50px;
    background-color: #8a2be2;
    border: 0;
    border-radius: 8px!important;
    border-style: none;
    color: #fff;
    cursor: pointer;
    display: block;
    padding: 10px 7px;
    font-size: 20px;
}

.login__btn:hover {
    transition: 0.5s;
    background-color: #7a0be1;
}

.login__btn:active {
    transition: 0.05s;
    background-color: #fff;
    color: #8a2be2;
    border: 1px solid #8a2be2;
}



.login__h1 {
    font-size: 40px;
    font-weight: 400;
}